<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Diabetes Prediction</h1>
    <form method="post" action="/predict">
        <label for="pregnancies">Pregnancies:</label>
        <input type="number" name="pregnancies" id="pregnancies" value="0"><br>

        <label for="glucose">Glucose:</label>
        <input type="number" name="glucose" id="glucose"><br>

        <label for="blood_pressure">Blood Pressure:</label>
        <input type="number" name="blood_pressure" id="blood_pressure"><br>

        <label for="skin_thickness">Skin Thickness:</label>
        <input type="number" name="skin_thickness" id="skin_thickness"><br>

        <label for="insulin">Insulin:</label>
        <input type="number" name="insulin" id="insulin"><br>

        <label for="bmi">BMI:</label>
        <input type="number" name="bmi" id="bmi"><br>

        <label for="dpf">Diabetes Pedigree Function:</label>
        <input type="number" step="0.001" name="dpf" id="dpf"><br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age"><br>

        <input type="submit" value="Predict">
    </form>
    
</body>
</html>
